th{
  font-weight: 900;
  font-size: 20px;
  font-family: serif;
  cursor: pointer;
   &:before {
    content: "\e155";
    font-family: 'Glyphicons Halflings';
    padding-right: 10px;
    font-size: 14px;
    font-weight: normal;
    color: #e95420;  
  }
  &.sorted{
    &:before{
      content: "\e156";
    }
  }
}
