
body{
    margin-top: 50px;
    background: snow;
    font-family: sans-serif;
    ::selection { background: #CEC8EF; }
}

h1{
    margin: 0;
}
.container{
    padding-left: 40px;
    padding-right: 20px;
}
caption{
    padding-left: 5px;
}
.pagination{
    margin: 0;
}
.form-cover, .main-heading{
    padding-bottom: 20px;
}
.form-cover{
    .input-group{
        width: 50%;
        input{
            font-style: italic;
        }
    }
}